/* About styles */

#hero {
    overflow: hidden;
    width: 100vw;
    height: auto;
  }
  
  #hero img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    height: auto;
  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #0e6d76;
  }
  
  #about-me-title {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
  }
  
  #p-about {
    font-family: Arial, Helvetica, sans-serif;
    color: #505356;
    text-align: center;
  }