.headerParent {
    background-color: #0e6d76;
    height: "40vh";
    display: flex;
    justify-content:space-between;
    
  }
  
  #header-text {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 3em;
    color: #ffff;
  }