body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #0e6d76;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #0e6d76;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #34373a;
}

